.profile__container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

@media screen and (max-width: 920px) {
    .profile__container {
        margin: 0 auto;
        margin-bottom: 36px;
    }
}