.profile__caption {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
}

@media screen and (max-width: 900px) {
    .profile__caption {
        margin: 0 auto;
        margin-top: 14px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}