.card__like {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    height: 19px;
    width: 22px;
    opacity: 1;
    background-image: url("../../../images/like.svg");
    flex-wrap: nowrap;
    background-size: cover;
    align-self: center;
}

.card__like:hover {
    opacity: 0.5;
    cursor: pointer;
}