.header {
    /* border-bottom: 1px solid #545454; */
    margin: 0 auto;
    max-width: 880px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 45px;
    margin-bottom: 36.25px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
    .header {
        padding-top: 28px;
        margin-bottom: 38.25px;
    }
}